In [1]:
import pandas as pd
import plotly.express as px

/var/folders/66/lykx91p150q4wl3w7w5ypwdh0000gn/T/ipykernel_90358/2165325793.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df = pd.read_csv("../data/travaux.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 952 entries, 0 to 951
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               952 non-null    object
 1   permit_permit_id                 952 non-null    object
 2   boroughid                        952 non-null    object
 3   permitcategory                   952 non-null    object
 4   currentstatus                    952 non-null    object
 5   duration_start_date              952 non-null    object
 6   duration_end_date                952 non-null    object
 7   reason_category                  952 non-null    object
 8   occupancy_name                   952 non-null    object
 9   submittercategory                911 non-null    object
 10  organizationname                 869 non-null    object
 11  duration_days_mon_active         952 non-null    object
 12  duration_days_mon_all_day_round  952 non-null    object
 13  duration_days_tue_active         952 non-null    object
 14  duration_days_tue_all_day_round  952 non-null    object
 15  duration_days_wed_active         952 non-null    object
 16  duration_days_wed_all_day_round  952 non-null    object
 17  duration_days_thu_active         952 non-null    object
 18  duration_days_thu_all_day_round  952 non-null    object
 19  duration_days_fri_active         952 non-null    object
 20  duration_days_fri_all_day_round  952 non-null    object
 21  duration_days_sat_active         952 non-null    object
 22  duration_days_sat_all_day_round  952 non-null    object
 23  duration_days_sun_active         952 non-null    object
 24  duration_days_sun_all_day_round  952 non-null    object
 25  duration_days_sat_start_time     36 non-null     object
 26  duration_days_sat_end_time       36 non-null     object
 27  duration_days_mon_start_time     444 non-null    object
 28  duration_days_mon_end_time       444 non-null    object
 29  duration_days_tue_start_time     444 non-null    object
 30  duration_days_tue_end_time       444 non-null    object
 31  duration_days_wed_start_time     444 non-null    object
 32  duration_days_wed_end_time       444 non-null    object
 33  duration_days_thu_start_time     444 non-null    object
 34  duration_days_thu_end_time       444 non-null    object
 35  duration_days_fri_start_time     444 non-null    object
 36  duration_days_fri_end_time       444 non-null    object
 37  duration_days_sun_start_time     18 non-null     object
 38  duration_days_sun_end_time       18 non-null     object
 39  load_date                        952 non-null    object
 40  longitude                        952 non-null    float64
 41  latitude                         952 non-null    float64
dtypes: float64(2), object(40)
memory usage: 312.5+ KB

In [8]:
df['duration_end_date']

0      2024-12-22T18:59:59Z
1      2024-01-19T18:59:59Z
2      2024-01-19T18:59:59Z
3      2024-01-19T18:59:59Z
4      2024-01-31T18:59:59Z
               ...
947    2024-12-21T18:59:59Z
948    2024-11-08T18:59:59Z
949    2024-10-31T19:59:59Z
950    2024-04-15T19:59:59Z
951    2025-12-31T18:59:59Z
Name: duration_end_date, Length: 952, dtype: object